body
{
    background: #A4BD47;
    overflow-x: hidden;
}

/* Awal navigasi */
.navbar-bkas img {
    width: 318px;
    height: 112px;
}

.pencarian {
    border: 2px solid #B1D237;
    background: #FFF;
    width:600px;
}

.pencarian ::placeholder {
    color: #B1D237;
}

.lonceng svg {
    color: #9DBA30;
}

.keranjang svg {
    color: #9DBA30;
}

.pesan svg {
    color: #9DBA30;
}

.akun svg {
    background-color: #9DBA30;
    color:white;
    border-radius:10px;
}
/* Akhir navigasi */

/* Awal Detail Produk */
.detail {
    background: #E0E0E0;
}
/* 
.detail img {
    border-radius: 20px;
}

.nama-produk {
    padding-right: 400px;
} */
/* Akhir Detail Produk */
