body
{
    background: #A4BD47;
    overflow-x: hidden;
}

/* Awal navigasi */
.navbar-bkas img {
    width: 318px;
    height: 112px;
}

.pencarian {
    border: 2px solid #B1D237;
    background: #FFF;
    width:350px;
}

.pencarian ::placeholder {
    color: #B1D237;
}

.lonceng svg {
    color: #9DBA30;
}

.keranjang svg {
    color: #9DBA30;
}

.tombol-masuk button {
    background-color:transparent ;
    color: #9DBA30;
    border-radius:14px;
    width: 80px;
    height: 30px;
}

.tombol-daftar button {
    background-color: #9DBA30;
    color:white;
    border-radius:14px;
}

.tombol-bayar button {
    background-color: #9DBA30;
    color:white;
    border-radius:10px;
    font-size: 30px;
}

.akun svg {
    background-color: #9DBA30;
    color:white;
    border-radius:10px;
}
/* Akhir navigasi */

/* Awal carousel */

/* Akhir carousel */

/* Awal Kategori */
.kategori {
     background:#E0E0E0;
}

.kategori h2 {
    color: #656565;
}

.menu-kategori {
    background-color: #9DBA30;
    border-radius:56px;
    width:130px;
    height:150px;
}

.menu-kategori-2 {
     background-color: #161616;
     border-radius:100px;
     width:80px;
     height:70px;
}

.menu-kategori-2 img {
    padding-top: 10px;
}
/* Akhir Kategori */

/* Awal Rekomendasi */
.rekomendasi h2 {
    background: #EFEFEF;
    color: #9DBA30;
}

.rekomendasi-2 {
    background: #E0E0E0;
}

.rekomendasi-produk {
    border-radius: 20px;
}
/* Akhir Rekomendasi */
